.container {
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	display: inline-block;
	line-height: 100px;
	transition: 0.4s;
}

.box:hover {
	background-color: lightgrey;
}

.board {
	display: inline-flex;
	flex-wrap: wrap;
	width: 306px;
}