body {
	font-family: "Century Gothic", Futura, sans-serif;
}

.container {
	text-align: center;
}

.box {
	width: 200px;
	height: 200px;
	border: 1.5px solid black;
	display: inline-block;
	line-height: 200px;
	font-size: 8rem;
	transition: 0.4s;
}

.box:hover {
	background-color: lightgrey;
}

.board {
	display: inline-flex;
	flex-wrap: wrap;
	width: 610px;
}

.header {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.reset {
	margin-top: 24px;
	font-size: 2rem;
	border: solid 1px grey;
	border-radius: 20px;
	border-style: outset;
	padding: 8px;
}